

h1{
    color:red;
}
h2{
    color:blue;
}
.green-text{
    color:green;
}
.smaller-image {
    width: 100px;
  }

 .thick-green-border{
   border-color: green;
    border-width: 10px;
    border-style: solid; 
    border-radius: 50%;
 }
.box{
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    width: 200;
}
body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  }
 #orange-text{
    color:orange;
  }